@*@model string

<div class="text-center">
    <h4 text-danger>Ошибка!</h4>
    <h5>Файл должен быть</h5>
</div>*@
<h4 text-danger>Ошибка!</h4>
<h5>Фото должен быть формата jpg</h5>
<a class="btn btn-primary" asp-action="PrivateOffice"
   asp-controller="Account">Понятно</a>
