@{
    ViewData["Title"] = "Виды юридической помощи";
}
<div class="container pl-2 pr-2 pb-5 pt-3 mt-3 shadow-sm my_cont">
    <div class="text-sm-center">
        <h5 style="font-size:x-large; font-family: 'Pattaya', sans-serif;">
            Виды юридической помощи, оказываемой адвокатами
        </h5>
    </div>
    <div style="font-family: 'Source Serif Pro', serif; font-size: 20px;">
        <p>
            Согласно "Статье 26 закона Республики Беларусь от 30.12.2011 N 334-З
            (ред. от 11.07.2017) "Об адвокатуре и адвокатской деятельности в Республике Беларусь",
            адвокаты оказывают клиентам следующие виды юридической помощи:
        </p>
        <ul>
            <li>дают консультации и разъяснения по юридическим вопросам;</li>
            <li>составляют заявления, жалобы и другие документы правового характера;</li>
            <li>
                представляют интересы клиентов в судах, в том числе на стадии исполнения судебных постановлений, а также в государственных органах,
                иных организациях, в том числе их органах управления, и перед физическими лицами;
            </li>
            <li>
                участвуют в досудебном производстве и суде по уголовным делам в качестве защитника,
                а также представителя потерпевших, гражданских истцов, гражданских ответчиков;
            </li>
            <li>
                участвуют в административном процессе
                в качестве защитника, представителя потерпевшего, иных физических
                или юридических лиц, являющихся участниками административного процесса;
            </li>
            <li>проводят правовую оценку документов и деятельности;</li>
            <li>ведут правовую работу по обеспечению хозяйственной и иной деятельности;</li>
            <li>ведут правовую работу по вопросам привлечения инвестиций в Республику Беларусь;</li>
            <li>
                совершают от имени и в интересах клиентов юридически значимые действия в
                пределах полномочий, предоставленных им клиентом и законодательством;
            </li>
            <li>оказывают иные виды юридической помощи.</li>
        </ul>
    </div>
</div>