@{
    ViewData["Title"] = "Регистрация завершена";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>@ViewData["Title"]</h1>
        <div class="alert alert-success">
            <p>
                Поздравляем!<br />
                Теперь Вы зарегистрированы на нашем сайте и можете <a asp-action="Login" asp-controller="Home">войти в систему</a>...
            </p>
        </div>
    </div>
</div>