@{
    ViewData["Title"] = "Регистрация завершена";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>@ViewData["Title"]</h1>
        <div class="alert alert-primary">
            <h1>
                Новый адвокат зарегестрирован на сайте.              
            </h1>
        </div>
    </div>
</div>