<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Гомельская городская коллегия адвокатов</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/office.css" />
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-7">
                <a class="navbar-brand font-weight-bold text-dark" style="font-size:x-large; font-family: 'Pattaya', sans-serif;" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/libra_black.png" class="d-inline-block align-content-center" alt="">
                    Юридическая консультация Железнодорожного района г.Гомеля
                </a>
            </div>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark box-shadow text-uppercase font-weight-bold">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="PrivateOffice">Личный кабинет</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Наши адвокаты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Задать вопрос</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Прайс</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Контакты</a>
                        </li>
                    </ul>
                </div>
                <div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="badge badge-light" title="Выход" asp-area="" asp-controller="Account" asp-action="Logoff">
                            <img src="~/img/enter.png" class="d-inline-block align-content-center" alt="">
                        </a>
                    }
                    else
                    {
                        <a class="badge badge-light" title="Вход" asp-area="" asp-controller="Account" asp-action="Login">
                            <img src="~/img/exit.png" class="d-inline-block align-content-center" alt="">
                        </a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid p-0 m-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Lawyers_Web_App.WEB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/mybundle.js" asp-append-version="true"></script>
    @*<script src="~/js/office.js"></script>*@
    <script src="~/lib/bundle.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
