@{
    ViewData["Title"] = "Новое дело";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>@ViewData["Title"]</h1>
        <div class="alert alert-success">
            <p>
                Новое дело добавлено.
            </p>
        </div>
    </div>
</div>