@model IEnumerable<Lawyers_Web_App.WEB.Models.CaseViewModel>

<div class="row">
    @if (Model == null)
    {
        <h1>На данный момент активных дел нет.</h1>
    }    else
    {
        <div class="col-md-12">
            <table class="table table-secondary table-hover">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Инстранция</th>
                        <th>Дата</th>
                        <th>Статья</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.Instance</td>
                            <td>@item.Date.ToString("dd.MM.yyyy")</td>
                            <td>@item.Article</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

